apiVersion: v1
kind: Service
metadata:
  name: ${{values.component_id}}
  labels:
    app: ${{values.component_id}}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: ${{values.component_id}}
